# .edu.uniajc.interfaces/nbproject/*
# .edu.uniajc.interfaces/dist/*
# .edu.uniajc.interfaces/build/*
# .edu.uniajc.logic/nbproject/*
# .edu.uniajc.logic/build/*
# .edu.uniajc.logic/dist/*
# .edu.uniajc.persistence/nbproject/*
# .edu.uniajc.persistence/build/*
# .edu.uniajc.persistence/dist/*
# .edu.uniajc.view/build/*
# .edu.uniajc.view/dist/*
# .edu.uniajc.view/nbproject/*

*/nbproject/private/*
*nbproject/private/*
*/nbproject/*
*nbproject/*
*/dist/*
*dist/*
*/build/*
*build/*

*build.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear
/edu.uniajc.logic/build/
/edu.uniajc.logic/dist/
/edu.uniajc.logic/nbproject/private/
/edu.uniajc.persistence/build/
/edu.uniajc.persistence/dist/
/edu.uniajc.persistence/nbproject/private/
/edu.uniajc.view/build/
/edu.uniajc.view/dist/
/edu.uniajc.view/nbproject/private/